<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/assets/auth.css">
</head>
<body>
    <div id="auth-container">
        <div class="form-box">
            <h2>Вход</h2>
            <div id="message" style="margin-bottom: 10px; text-align: center; font-weight: bold;">
                {{message}}
            </div>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
            </form>
            <div class="forgot-password-container" style="text-align: center; margin-top: 10px;">
                <a href="/forgot-password" class="forgot-password">Забыли пароль?</a>
            </div>
            <form action="/register" method="GET" style="margin-top: 15px; text-align: center;">
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>
</html>